:root {
    --color-ui-panel: #1f232a;
    --color-ui-panel-dark: #15191c;
    --color-ui-panel-light: #2a3137;
    --color-ui-border: #364347;
    --color-input-bg: #15191c;
    --color-swatch-border: #fff;
    --color-text: #8b949a;
    --spacer: 10px;
    --map-height: 200px;
    --input-height: 40px;
    --swatch-width: 32px;
    --swatch-space: 4px;
    --swatches-width: 212px;
    --map-width: 212px;
    --eyedropper-width: 68px;
    --window-width: 310px;
    --spectrum-cursor-width: 30px;
}