@import './vars';

body {
    background: var(--color-ui-panel);
    font-family: 'Proxima Nova', sans-serif;
    color: var(--color-text);
    letter-spacing:.05em;
    transition: 0.25s ease-out;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}